body {
    background-color: #fff;
    color: #333;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
}

td {
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
}

tr{
    display: table-row;
}

table {
    border-collapse: separate; /* 境界線を共有しない*/
    text-indent: initial; /*最初の字下げ*/
    border-spacing: 2px;
}

p, ol, ul, td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
}

.checkbox{
    margin: 20px 0;
}